.App {
  text-align: center;
}

.App-header {
  background: rgba(205,53,197);
  background-image: linear-gradient(
        115deg,
        rgb(194, 16, 150) 0%, 
        rgb(207, 67, 160) 50%, 
        rgb(226, 123, 186) 100%
  );
  background-position: top left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blck {
  max-width: 65%;
  max-height: calc(500px + 2vmin);
  width: auto;
  height: auto;
  margin: auto;
}

.youtube {
  max-width: 65%;
  max-height: 100vh;
  margin: auto;
}

.text {
  margin: auto;
}

.main-title {
  position: relative;
  transform: translateY(-100%);
  font-size: 200%;
}

.main-link {
  color: #0500059d;
  position: static;
  transform: translateY(-100%);
  font-size: 115%;
}

.back-link {
  color: #0000009d;
  position: absolute;
  left: 0%;
  top: 0%;
}

.link {
  color: #0000009d;
  margin-bottom: 1%;
}

